.arrow-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.arrow-btn.rotate {
    transform: rotate(180deg);
}

.sticker-dropdown {
    width: 100vh;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    border-radius: 20px; /* Добавляем закругление */
    padding: 0; /* Начальный padding */
}

.sticker-dropdown.show {
    max-height: 500px; /* или достаточно для всех стикеров */
    padding: 20px; /* Добавляем padding когда открыто */
}